<?xml version="1.0"?>
<!--
/**
 * Module config
 *
 * @author ShoppingFeeder
 */
-->
<config>
    <modules>
        <ShoppingFeeder_Service>
            <version>1.3.10</version>
        </ShoppingFeeder_Service>
    </modules>
    <global>
        <models>
            <shoppingfeeder_service>
                <class>ShoppingFeeder_Service_Model</class>
            </shoppingfeeder_service>
        </models>
        <helpers>
            <shoppingfeeder_service>
                <class>ShoppingFeeder_Service_Helper</class>
            </shoppingfeeder_service>
        </helpers>
        <blocks>
            <shoppingfeeder_service>
                <class>ShoppingFeeder_Service_Block</class>
            </shoppingfeeder_service>
        </blocks>
        <resources>
            <shoppingfeeder_setup>
                <setup>
                    <module>ShoppingFeeder_Service</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </shoppingfeeder_setup>
        </resources>
        <events>
            <sales_order_place_after>
                <observers>
                    <shoppingfeeder_notify_sales_order_place_after>
                        <class>shoppingfeeder_service/observer</class>
                        <method>salesOrderPlaceAfter</method>
                    </shoppingfeeder_notify_sales_order_place_after>
                </observers>
            </sales_order_place_after>
            <!--<before_service_item_display>-->
                <!--<observers>-->
                    <!--<shoppingfeeder_service>-->
                        <!--<class>shoppingfeeder_service/observer</class>-->
                        <!--<method>beforeServiceDisplayed</method>-->
                    <!--</shoppingfeeder_service>-->
                <!--</observers>-->
            <!--</before_service_item_display>-->
        </events>
    </global>
    <frontend>
        <routers>
            <shoppingfeeder>
                <use>standard</use>
                <args>
                    <module>ShoppingFeeder_Service</module>
                    <frontName>shoppingfeeder</frontName>
                </args>
            </shoppingfeeder>
        </routers>
        <events>
            <catalog_controller_product_view>
                <observers>
                    <shoppingfeeder_notify_catalog_controller_product_view>
                        <class>shoppingfeeder_service/observer</class>
                        <method>productView</method>
                    </shoppingfeeder_notify_catalog_controller_product_view>
                </observers>
            </catalog_controller_product_view>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ShoppingFeeder_Service before="Mage_adminhtml">Shoppingfeeder_Service_Adminhtml</ShoppingFeeder_Service>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <shoppingfeeder>
                                            <title>ShoppingFeeder Section</title>
                                        </shoppingfeeder>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <shoppingfeeder>
            <service>
                <enable>1</enable>
                <tracking>1</tracking>
            </service>
        </shoppingfeeder>
    </default>
</config>
