<?xml version="1.0"?>
<!--
/**
 * Module config
 *
 * @author ShoppingFeeder
 */
-->
<config>
    <modules>
        <ShoppingFeeder_Fbtrack>
            <version>1.0.1</version>
        </ShoppingFeeder_Fbtrack>
    </modules>
    <global>
        <models>
            <shoppingfeeder_fbtrack>
                <class>ShoppingFeeder_Fbtrack_Model</class>
            </shoppingfeeder_fbtrack>
        </models>
        <helpers>
            <shoppingfeeder_fbtrack>
                <class>ShoppingFeeder_Fbtrack_Helper</class>
            </shoppingfeeder_fbtrack>
        </helpers>
        <blocks>
            <shoppingfeeder_fbtrack>
                <class>ShoppingFeeder_Fbtrack_Block</class>
            </shoppingfeeder_fbtrack>
        </blocks>
        <resources>
            <shoppingfeeder_fbtrack_setup>
                <setup>
                    <module>ShoppingFeeder_Fbtrack</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </shoppingfeeder_fbtrack_setup>
        </resources>
        <events>
            <sales_order_place_after>
                <observers>
                    <shoppingfeeder_fbtrack_notify_sales_order_place_after>
                        <class>shoppingfeeder_fbtrack/observer</class>
                        <method>salesOrderPlaceAfter</method>
                    </shoppingfeeder_fbtrack_notify_sales_order_place_after>
                </observers>
            </sales_order_place_after>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <shoppingfeeder_fbtrack>
                    <file>shoppingfeeder_fbtrack.xml</file>
                </shoppingfeeder_fbtrack>
            </updates>
        </layout>
        <events>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <shoppingfeeder_fbtrack_fbtrack_view>
                        <class>shoppingfeeder_fbtrack/observer</class>
                        <method>generateBlocksAfter</method>
                    </shoppingfeeder_fbtrack_fbtrack_view>
                </observers>
            </controller_action_layout_generate_blocks_after>
            <checkout_cart_product_add_after>
                <observers>
                    <shoppingfeeder_fbtrack_fbtrack_add_to_cart>
                        <class>shoppingfeeder_fbtrack/observer</class>
                        <method>setAddToCartProduct</method>
                    </shoppingfeeder_fbtrack_fbtrack_add_to_cart>
                </observers>
            </checkout_cart_product_add_after>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ShoppingFeeder_Fbtrack before="Mage_adminhtml">ShoppingFeeder_Fbtrack_Adminhtml</ShoppingFeeder_Fbtrack>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <shoppingfeeder_fbtrack>
                                            <title>ShoppingFeeder Facebook Audience Pixel</title>
                                        </shoppingfeeder_fbtrack>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <shoppingfeeder_fbtrack>
            <fb_track_config>
                <enable>1</enable>
                <fb_track>0</fb_track>
            </fb_track_config>
        </shoppingfeeder_fbtrack>
    </default>
</config>
